{{- $machineconfig := promptStringOnce . "machineconfig" "Is this system personal or work?" -}}

[data]
    machineconfig = {{ $machineconfig | quote }}

[scriptEnv]
    MACHINECFG = {{ $machineconfig | quote }}
