{{- $email := promptStringOnce . "nachos" "Email address" -}}
{{- $environment := promptStringOnce . "personal" "environment, personal or work" -}}

[data]
    email = {{ $email | quote }}
    environment = {{ $environment | quote }}
