{{ if eq .chezmoi.os "darwin" -}}
{{- $python_vers := "3.13" -}}
{{- if stat "/opt/local/bin/python3" -}}
{{-   $raw := output "/opt/local/bin/python3" "--version" | trim -}}
{{-   $python_vers = regexReplaceAll "Python (\\d+\\.\\d+).*" $raw "${1}" -}}
{{- end -}}
export PATH="/opt/local/Library/Frameworks/Python.framework/Versions/{{ $python_vers }}/bin:/opt/local/bin:/usr/local/bin:/usr/bin:/bin:/opt/local/sbin:/usr/local/sbin:/usr/sbin:/sbin:/usr/local/go/bin:{{ .chezmoi.homeDir }}/Developer/go/bin:{{ .chezmoi.homeDir }}/Library/Python/{{ $python_vers }}/bin:{{ .chezmoi.homeDir }}/.local/bin:{{ .chezmoi.homeDir }}/script:{{ .chezmoi.homeDir }}/Developer/machine-cfg/scripts:{{ .chezmoi.homeDir }}/Developer/machine-cfg/{{ .chezmoi.hostname }}/scripts:/pkg/env/global/bin:/System/Library/SecurityResearch/usr/bin:/Library/Apple/usr/bin:/Applications/VMware Fusion.app/Contents/Public:/opt/podman/bin"
{{ end -}}
eval "$(direnv export bash 2>/dev/null)"
