#!/bin/bash

# common aliases
alias vautenv="set | grep VAULT"
alias crtchk="openssl x509 -text -noout -dates -in"
alias yolossh="ssh -o \"ControlPath ~/.ssh/controlmasters/%r@%h:%p\" -o \"ControlMaster auto\" -o \"ControlPersist 10m\" -o \"StrictHostKeyChecking no\" -o \"UserKnownHostsFile=/dev/null\""
alias tfstate='terraform state show $(terraform state list | fzf)'
alias tftaint='terraform taint $(terraform state list | fzf)'
alias tfyolo='terraform apply -destroy -auto-approve && terraform apply -auto-approve'
alias unsetvault="unset VAULT_ADDR; unset VAULT_NAMESPACE; unset VAULT_TOKEN"

# conditional aliases
if command -v eza &>/dev/null; then
  alias ls="eza -1 -l -F --icons=auto"
fi

# common functions
exitssh() {
  ssh -O exit "$@"
}

# source .vaultenv file if it exists
[ -f ~/.vaultenv ] && source ~/.vaultenv

# run the vault login command and then source the env vars
vl() {
  RETURN_DIR="$(PWD)"
  cd ~/code/vaultlogin
  go run main.go $@
  source ~/.vaultenv &>/dev/null || true
  cd "$RETURN_DIR"
}

# common bash config
export HISTCONTROL=ignoredups:erasedups # no duplicate entries
export HISTSIZE=100000                  # big big history
export HISTFILESIZE=100000              # big big history
shopt -s histappend                     # append to history, don't overwrite it
export PROMPT_COMMAND="history -a"      # update history after every command"

# set shell type
SHELL_TYPE="terminal"

# prompt and friends
export PS1="\[\e[;34m\]\u\[\e[1;37m\]@\h\[\e[;32m\]:\W$ \[\e[0m\]"
if [ "$TERM" != "linux" ]; then
  export DISPLAY=:0
fi

declare -x CLICOLOR=1
export HISTIGNORE='*VAULT_TOKEN*':'*secret_id*':'*ghp_*':'hvs.*':'hvb.*':'hvr.*':'*token*':'*password*'

# common things

# set lima wrking dir
export LIMA_WORKINGDIR=${HOME}

# source the fzf config
[[ -f "${HOME}/.fzf_completion.bash" ]] && source "${HOME}/.fzf_completion.bash"
[[ -f "${HOME}/.fzf_completion.bash" ]] && source "${HOME}/.fzf_key-bindings.bash"

# bash completion for vault
command -v vault &>/dev/null && complete -C vault vault

# bash completion for 1password cli
command -v op &>/dev/null && eval "$(op completion bash)"

{{- if eq .chezmoi.os "darwin" -}}

#
### macOS specific stuff ###

# macOS aliases
alias fullres="~/code/blakeconfig/fullres"
alias preso="~/code/blakeconfig/preso"
alias remote="~/code/blakeconfig/mirrorscreen"
alias encode="~/code/timelapse-tools/encode"
alias wd="~/code/weatherdesktop/wd"
alias lsusb="ioreg -p IOUSB"
alias eaw="sudo /bin/chmod +a \"user:$USER allow read,write,append,readattr,writeattr,readextattr,writeextattr,readsecurity\" "

# Extract application name from VSCODE_GIT_ASKPASS_NODE and set alias
if [ -n "$VSCODE_GIT_ASKPASS_NODE" ]; then
  HELPER_APP_NAME=$(basename "$(echo "$VSCODE_GIT_ASKPASS_NODE" | sed -E 's#(.*)/Contents/MacOS/.*$#\1#')")
  case "$HELPER_APP_NAME" in
  "Code Helper (Plugin).app")
    alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'
    ;;
  "Code - Insiders Helper (Plugin).app")
    alias code='/Applications/Visual\ Studio\ Code\ -\ Insiders.app/Contents/Resources/app/bin/code'
    ;;
  "Cursor Helper (Plugin).app")
    alias code='/Applications/Cursor.app/Contents/Resources/app/bin/code'
    ;;
  esac
else
  alias code='/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code'
fi

# macos functions
killsshhost() {
  /usr/bin/sed -i '' "/$1/d" ~/.ssh/known_hosts
}

# bash version check
if [[ $BASH != /opt/local/bin/bash ]]; then
  echo "Bash Version $BASH_VERSION"
fi

# bash-completion
if [ -f /opt/local/etc/profile.d/bash_completion.sh ]; then
  source /opt/local/etc/profile.d/bash_completion.sh
fi

# add bash autocomplete for vault
[ -f /opt/local/bin/vault ] && complete -C /opt/local/bin/vault vault

# disable shell warning
export BASH_SILENCE_DEPRECATION_WARNING=1
export PATH="/opt/local/bin:/usr/local/bin:/usr/bin:/bin:/opt/local/sbin:/usr/local/sbin:/usr/sbin:/sbin:/usr/local/go/bin:{{ .chezmoi.homeDir }}/code/go/bin:{{ .chezmoi.homeDir }}/Library/Python/{{ .python_vers }}/bin:{{ .chezmoi.homeDir }}/script:{{ .chezmoi.homeDir }}/code/machine-cfg/scripts"

# go vars
export GOPATH={{ .chezmoi.homeDir }}/code/go

# configure secretive ssh
if [ -f ${HOME}/Library/Containers/com.maxgoedjen.Secretive.SecretAgent ]; then
  export SSH_AUTH_SOCK=${HOME}/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
fi

# Powerline-go
function _update_ps1() {
  PS1="$(/usr/local/bin/powerline-go -error $? -jobs $(jobs -p | wc -l))"
  set "?"
}

if [ "$TERM" != "linux" ] && [ -f "/usr/local/bin/powerline-go" ]; then
  PROMPT_COMMAND="_update_ps1; $PROMPT_COMMAND"
fi

{{ end -}}

{{- if eq .chezmoi.os "linux" -}}

### Linux specific stuff ###
SYSTEMD_EDITOR="/usr/bin/vi"
BROWSER=false

# aliases
alias eaw="/bin/chmod +a \"user:$USER allow read,write,append,readattr,writeattr,readextattr,writeextattr,readsecurity\" "
alias killssh="sed -i "/$1/d" ~/.ssh/known_hosts"
alias eaw="sudo setfacl -m u:${USER}:rwx"

# linux functions
killsshhost() {
  /usr/bin/sed -i "/$1/d" ~/.ssh/known_hosts
}

# Powerline-go
function _update_ps1() {
  PS1="$(/usr/local/bin/powerline-go -error $? -jobs $(jobs -p | wc -l))"
  set "?"
}

if [ "$TERM" != "linux" ] && [ -f "/usr/local/bin/powerline-go" ]; then
  PROMPT_COMMAND="_update_ps1; $PROMPT_COMMAND"
fi

# do $CODESPACES or ubuntu specific things
if [[ "${CODESPACES}" == "true" ]]; then
  # set code alias to use the codespaces remote cli
  if [[ -n "${VSCODE_GIT_ASKPASS_NODE}" ]]; then
    alias code="${VSCODE_GIT_ASKPASS_NODE::-5}/bin/remote-cli/code"
  fi
else
  # set path for ubuntu VM
  export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin:$HOME/script
fi

{{ end -}}

## common stuff after platform specific stuff

# setup direnv
if command -v direnv &>/dev/null; then
  eval "$(direnv hook bash)"
fi

{{ if (stat (joinPath .chezmoi.homeDir "code/machine-cfg/bash_profile")) }}
# Hash for {{(joinPath .chezmoi.homeDir "code/machine-cfg/bash_profile")}} {{ include (joinPath .chezmoi.homeDir "code/machine-cfg/bash_profile") | sha256sum }}
# Added content from {{(joinPath .chezmoi.homeDir "code/machine-cfg/bash_profile")}}
{{ include (joinPath .chezmoi.homeDir "code/machine-cfg/bash_profile") }}
{{ end }}
{{ if (stat (joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/bash_profile")) }}
# Hash for {{(joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/bash_profile")}} {{ include (joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/bash_profile") | sha256sum }}
# Added content from {{(joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/bash_profile") }}
{{ include (joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/bash_profile") }}
{{ end }}