#!/bin/bash
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
echo "Run once for Ubuntu"

if ! [[ -f /usr/share/keyrings/hashicorp-archive-keyring.gpg ]]; then
  echo "Adding Hashicorp GPG key..."
  wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
fi

if ! [[ -f /etc/apt/sources.list.d/hashicorp.list ]]; then
  echo "Adding Hashicorp repo..."
  echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
fi

# install githubcli repo
if ! [[ -f /usr/share/keyrings/githubcli-archive-keyring.gpg ]]; then
  echo "Adding githubcli GPG key..."
  wget -O- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
  sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
fi

if ! [[ -f /etc/apt/sources.list.d/hashicorp.list ]]; then
  echo "Adding Hashicorp repo..."
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null 
fi

sudo apt update

# list of apt packages to install
APT_PACKAGES=(
  "virt-what"
  "jq"
  "neofetch"
  "glances"
  "git"
  "wget"
  "unzip"
  "tmux"
  "python3"
  "python3-pip"
  "python-is-python3"
  "python3-powerline"
  "python3-powerline-gitstatus"
  "python3-virtualenv"
  "tree"
  "acl"
  "apt-transport-https"
  "ca-certificates"
  "lsb-release"
  "vault"
  "chezmoi"
  "curl"
  "gh"
)

# loop over apt packages and install them
for APT_PACKAGE in "${APT_PACKAGES[@]}"; do
  if ! dpkg -s $APT_PACKAGE &>/dev/null; then
    echo "Installing apt package $APT_PACKAGE..."
    sudo apt-get install -y $APT_PACKAGE
  fi
done

{{ end }}
exit 0
