#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
echo running onchange_ubuntu.sh

# check architecture
ARCH=$(dpkg --print-architecture)

# get latest release version from github for chezmoi
CHEZMOI_LATEST_RELEASE=$(curl -s https://api.github.com/repos/twpayne/chezmoi/releases/latest | grep tag_name | cut -d '"' -f 4)
CHEZMOI_LATEST_RELEASE_NUMBER=${CHEZMOI_LATEST_RELEASE#v}

# check if chezmoi is installed and if it's the latest version
if ! command -v chezmoi &>/dev/null; then
  echo "chezmoi is not installed. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
elif [ "$(chezmoi --version | awk '{gsub(/,/,"",$3); print $3}')" != "$CHEZMOI_LATEST_RELEASE" ]; then
  echo "chezmoi is not the latest version. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i 
else
  echo "chezmoi is already the latest version"
fi

# cleanup chezmoi deb file
if [ -f chezmoi_*.deb ]; then
  rm -f chezmoi_*.deb
fi

# use the package install of chezmoi
if [ -f /usr/bin/chezmoi ]; then
  if [ -f ~/bin ]; then
    rm -f ~/bin
  fi
fi

# add hashicorp gpg key
if ! [[ -f /usr/share/keyrings/hashicorp-archive-keyring.gpg ]]; then
  echo "Adding Hashicorp GPG key..."
  wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
fi

# add hashicorp repo
if ! [[ -f /etc/apt/sources.list.d/hashicorp.list ]]; then
  echo "Adding Hashicorp repo..."
  echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
fi

echo "Updating apt cache..."
sudo apt update > /dev/null

# list of apt packages to install
APT_PACKAGES=(
  "virt-what"
  "jq"
  "neofetch"
  "glances"
  "git"
  "wget"
  "unzip"
  "tmux"
  "python3"
  "python3-pip"
  "python-is-python3"
  "powerline"
  "python3-virtualenv"
  "tree"
  "acl"
  "apt-transport-https"
  "ca-certificates"
  "lsb-release"
  "vault"
  "curl"
  "gh"
  "fzf"
  "duf"
  "shellcheck"
)

# loop over apt packages and install them
for APT_PACKAGE in "${APT_PACKAGES[@]}"; do
  if ! dpkg -s $APT_PACKAGE &>/dev/null; then
    echo "Installing apt package $APT_PACKAGE..."
    sudo apt-get install -y $APT_PACKAGE
  fi
done

sudo apt update

# check if source-code-pro font is already installed
if ! [[ -f ${HOME}/.fonts/SourceCodePro-Medium.otf ]]; then
  echo "Installing Source Code Pro font..."
  wget https://github.com/adobe-fonts/source-code-pro/releases/download/2.038R-ro%2F1.058R-it%2F1.018R-VAR/OTF-source-code-pro-2.038R-ro-1.058R-it.zip
  if ! [[ -d ${HOME}/.fonts ]]; then
    mkdir ${HOME}/.fonts
  fi

  unzip -o -d ${HOME}/.fonts ${HOME}/OTF-source-code-pro*.zip SourceCodePro-Medium.otf
  rm ${HOME}/OTF-source-code-pro*.zip
fi


{{ end }}
{{ end }}

exit 0