#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'
shopt -s nullglob nocaseglob

{{ if ne .chezmoi.os "darwin" }}
# not Darwin, just exit
exit 0
{{ end }}
{{ if (stat (joinPath .chezmoi.homeDir "code/machine-cfg/portlist")) }}
# Hash for {{(joinPath .chezmoi.homeDir "code/machine-cfg/portlist")}} {{ include (joinPath .chezmoi.homeDir "code/machine-cfg/portlist") | sha256sum }}
{{ else }}
exit 0
{{ end }}
{{ if (stat (joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/portlist")) }}
# Hash for {{(joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/portlist")}} {{ include (joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/portlist") | sha256sum }}
{{ end }}

# modern bash version check
! [ "${BASH_VERSINFO:-0}" -ge 4 ] && echo "This script requires bash v4 or later" && exit 1

# read the port list files
PORT_LIST=$(cat {{(joinPath .chezmoi.homeDir "code/machine-cfg/portlist")}} {{(joinPath .chezmoi.homeDir "code/machine-cfg/" .chezmoi.hostname "/portlist")}} 2>/dev/null ||true)

# install missing ports
PORT_INSTALL_LIST=()
while IFS= read -r line; do
  PORT_INSTALL_LIST+=("$line")
done < <(echo "$PORT_LIST")

# get installed ports
INSTALLED_PORTS=$(port installed | awk '{print $1}' | uniq)
echo "Installed ports: ${INSTALLED_PORTS[@]}"

# remove installed ports from the list
for PORT in "${INSTALLED_PORTS[@]}"; do
  PORT_INSTALL_LIST=("${PORT_INSTALL_LIST[@]/$PORT}")
done

echo "Ports to install: ${PORT_INSTALL_LIST[@]}"

for PORT in "${PORT_INSTALL_LIST[@]}"; do
  IFS=$' \t\n'
  echo "sudo port install $PORT"
  sudo port -N install $PORT || true
done

exit 0
