#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
echo "package script for Ubuntu"

# check architecture
if uname -a | grep -q x86_64; then
  ARCH="amd64"
elif uname -a | grep -q 'arm64\|aarch64'; then
  ARCH="arm64"
else
  echo "Unsupported architecture"
fi

# get latest release version from github for chezmoi
CHEZMOI_LATEST_RELEASE=$(curl -s https://api.github.com/repos/twpayne/chezmoi/releases/latest | grep tag_name | cut -d '"' -f 4)
CHEZMOI_LATEST_RELEASE_NUMBER=${CHEZMOI_LATEST_RELEASE#v}

# check if chezmoi is installed and if it's the latest version
if ! command -v chezmoi &>/dev/null; then
  echo "chezmoi is not installed. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
elif [ "$(chezmoi version | cut -d ' ' -f 2)" != "$CHEZMOI_LATEST_RELEASE_NUMBER" ]; then
  echo "chezmoi is not the latest version. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
else
  echo "chezmoi is already the latest version"
fi

# refresh app cache
sudo apt update

# list of apt packages to install
APT_PACKAGES=(
  "virt-what"
  "jq"
  "neofetch"
  "glances"
  "git"
  "wget"
  "unzip"
  "tmux"
  "python3"
  "python3-pip"
  "python-is-python3"
  "python3-powerline"
  "python3-powerline-gitstatus"
  "python3-virtualenv"
  "tree"
  "acl"
  "apt-transport-https"
  "ca-certificates"
  "lsb-release"
  "vault"
  "chezmoi"
  "curl"
  "gh"
  "fzf"
  "shellcheck"
)

# loop over apt packages and install them
for APT_PACKAGE in "${APT_PACKAGES[@]}"; do
  if ! dpkg -s $APT_PACKAGE &>/dev/null; then
    echo "Installing apt package $APT_PACKAGE..."
    sudo apt-get install -y $APT_PACKAGE
  fi
done

{{ end }}
{{ end }}

exit 0
