#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
echo "package script for Ubuntu"

# check architecture
if uname -a | grep -q x86_64; then
  ARCH="amd64"
elif uname -a | grep -q 'arm64\|aarch64'; then
  ARCH="arm64"
else
  echo "Unsupported architecture: $(uname -a)"
fi

# get latest release version from github for chezmoi
CHEZMOI_LATEST_RELEASE=$(curl -s https://api.github.com/repos/twpayne/chezmoi/releases/latest | grep tag_name | cut -d '"' -f 4)
CHEZMOI_LATEST_RELEASE_NUMBER=${CHEZMOI_LATEST_RELEASE#v}

# check if chezmoi is installed and if it's the latest version
if ! command -v chezmoi &>/dev/null; then
  echo "chezmoi is not installed. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
elif [ "$(chezmoi --version | awk '{gsub(/,/,"",$3); print $3}')" != "$CHEZMOI_LATEST_RELEASE" ]; then
  echo "chezmoi is not the latest version. Installing latest version..."
  curl -LO https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb
  sudo dpkg -i 
else
  echo "chezmoi is already the latest version"
fi

# cleanup chezmoi deb file
if [ -f chezmoi_*.deb ]; then
  rm -f chezmoi_*.deb
fi

# use the package install of chezmoi
if [ -f /usr/bin/chezmoi ]; then
  if [ -f ~/bin ]; then
    rm -f ~/bin
  fi
fi

# refresh app cache
sudo apt update

# list of apt packages to install
APT_PACKAGES=(
  "virt-what"
  "jq"
  "neofetch"
  "glances"
  "git"
  "wget"
  "unzip"
  "tmux"
  "python3"
  "python3-pip"
  "python-is-python3"
  "powerline"
  "python3-virtualenv"
  "tree"
  "acl"
  "apt-transport-https"
  "ca-certificates"
  "lsb-release"
  "vault"
  "curl"
  "gh"
  "fzf"
  "shellcheck"
)

# loop over apt packages and install them
for APT_PACKAGE in "${APT_PACKAGES[@]}"; do
  if ! dpkg -s $APT_PACKAGE &>/dev/null; then
    echo "Installing apt package $APT_PACKAGE..."
    sudo apt-get install -y $APT_PACKAGE
  fi
done

# install golang if it's not installed
GO_VERSION="1.20.5"
if ! command -v go &>/dev/null; then
  echo "Installing golang...!!"
  wget -O go${GO_VERSION}.linux-${ARCH}.tar.gz https://go.dev/dl/go${GO_VERSION}.darwin-${ARCH}.tar.gz
  # if archive exists then extract it
  if [[ -f go${GO_VERSION}.linux-${ARCH}.tar.gz ]]; then
    sudo tar -C /usr/local -xzf go${GO_VERSION}.linux-${ARCH}.tar.gz
    PATH=$PATH:/usr/local/go/bin
    go version
    rm go${GO_VERSION}.linux-${ARCH}.tar.gz
  fi

  export GOPATH=${HOME}/code/go
  export GOBIN="/usr/local/bin"

  # install packages using go get
  # sudo setfacl -m u:${USER}:rwx /usr/local/bin
  # go install github.com/minio/mc@latest
  # go install github.com/muesli/duf@latest
  # go install github.com/junegunn/fzf@latest
  # go install filippo.io/age/cmd/...@latest
  # go install github.com/joemiller/vault-token-helper@latest
  # cleanup
  # cd /usr/local/go/src
  # sudo /usr/local/go/bin/go clean -i std
  # sudo /usr/local/go/bin/go tool dist clean
  # sudo /usr/local/go/bin/go clean -modcache
  # /usr/local/go/bin/go clean -i std
  # /usr/local/go/bin/go tool dist clean
  # /usr/local/go/bin/go clean -modcache
  # sudo setfacl -b /usr/local/bin
  # sudo chown root:root /usr/local/bin/*
  # sudo chmod 755 /usr/local/bin/*
  # which go
  # go version
fi


{{ end }}
{{ end }}

exit 0
