#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}

# use the package install of chezmoi
if [ -f /usr/bin/chezmoi ]; then
  if [ -d ~/bin ]; then
    rm -r ~/bin
  fi
fi

{{ end }}
{{ end }}

exit 0