#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}

# test for running in codespaces by checking $CODESPACES
if [[ "${CODESPACES}" == "true" ]]; then
  echo "Not Running run_onchange_ubuntu_vm.sh in codespaces"
  exit 0
else
  echo "Running run_onchange_ubuntu_vm.sh"
fi

# check architecture
ARCH=$(dpkg --print-architecture)

# get latest release version from github for chezmoi
CHEZMOI_LATEST_RELEASE=$(curl -s https://api.github.com/repos/twpayne/chezmoi/releases/latest | grep tag_name | cut -d '"' -f 4)
CHEZMOI_LATEST_RELEASE_NUMBER=${CHEZMOI_LATEST_RELEASE#v}
CHEZMOI_LATEST_FILENAME="chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb"
CHEZMOI_LATEST_URL="https://github.com/twpayne/chezmoi/releases/download/v${CHEZMOI_LATEST_RELEASE_NUMBER}/chezmoi_${CHEZMOI_LATEST_RELEASE_NUMBER}_linux_${ARCH}.deb"
# check if chezmoi is installed and if it's the latest version
if ! [[ -f /usr/bin/chezmoi ]]; then
  echo "chezmoi is not installed. Installing latest version..."
  echo " Installing $CHEZMOI_LATEST_URL"
  curl -L -o "/tmp/$CHEZMOI_LATEST_FILENAME" "$CHEZMOI_LATEST_URL"
  sudo dpkg -i "/tmp/$CHEZMOI_LATEST_FILENAME"
  rm "/tmp/$CHEZMOI_LATEST_FILENAME"
  if [[ -e ~/bin/chezmoi ]]; then
    rm -r ~/bin
  fi
fi

# install githubcli repo
if ! [[ -f /usr/share/keyrings/githubcli-archive-keyring.gpg ]]; then
  echo "Adding githubcli GPG key..."
  wget -O- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
  sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
fi

if ! [[ -f /etc/apt/sources.list.d/hashicorp.list ]]; then
  echo "Adding Hashicorp repo..."
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list >/dev/null
fi

# install golang if it's not installed
GO_VERSION="1.22.2"

# install go function
install_go() {
  echo "Installing golang from https://go.dev/dl/go${GO_VERSION}.linux-${ARCH}.tar.gz"
  wget -O go${GO_VERSION}.linux-${ARCH}.tar.gz https://go.dev/dl/go${GO_VERSION}.linux-${ARCH}.tar.gz
  # if archive exists then extract it
  if [[ -f go${GO_VERSION}.linux-${ARCH}.tar.gz ]]; then
    sudo tar -C /usr/local -xzf go${GO_VERSION}.linux-${ARCH}.tar.gz
    PATH=$PATH:/usr/local/go/bin
    go version
    rm go${GO_VERSION}.linux-${ARCH}.tar.gz
  fi
}

# check go version and install if necessary
if command -v go &> /dev/null; then
  GO_VERSION_INSTALLED=$(go version | awk '{print $3}' | sed 's/go//')
  echo "go is installed, version: $GO_VERSION"
  if command -v go &> /dev/null; then
    GO_VERSION_INSTALLED=$(go version | awk '{print $3}' | sed 's/go//')
    echo "go is installed, version: $GO_VERSION_INSTALLED"
    if [[ "$(printf '%s\n' "$GO_VERSION_INSTALLED" "$GO_VERSION" | sort -V | head -n1)" == "$GO_VERSION" ]]; then
      echo "go version $GO_VERSION is already installed"
    else
      install_go
    fi
  fi
else
  install_go
fi



# config git
if [ "$(git config --global push.default)" != "current" ]; then
    git config --global push.default current
fi
if [ "$(git config --global pull.rebase)" != "false" ]; then
    git config --global pull.rebase false
fi
if [ -z "$(git config --global user.name)" ]; then
    git config --global user.name "Blake Garner"
fi
if [ -z "$(git config --global user.email)" ]; then
    git config --global user.email blake@netjibbing.com
fi
if [ -z "$(git config --global alias.change-commits)" ]; then
    git config --global alias.change-commits '!'"f() { VAR=\$1; OLD=\$2; NEW=\$3; shift 3; git filter-branch --env-filter \"if [[ \\\"\$\`echo \$VAR\`\\\" = '\$OLD' ]]; then export \$VAR='\$NEW'; fi\" \$@; }; f"
fi
if [ "$(git config --global commit.gpgsign)" != "false" ]; then
    git config --global commit.gpgsign false
fi

{{ end }}
{{ end }}

exit 0
