#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
echo running onchange_ubuntu.sh

# set service restart to automatic
sudo sed -i "/#\$nrconf{restart} = 'i';/s/.*/\$nrconf{restart} = 'a';/" /etc/needrestart/needrestart.conf

# Variables with default values
TMPDIR="${TMPDIR:-/var/tmp}"

# check architecture
ARCH=$(dpkg --print-architecture)
ARCH_LONG=${ARCH/arm64/aarch64}

# add hashicorp gpg key
if ! [[ -f /usr/share/keyrings/hashicorp-archive-keyring.gpg ]]; then
  echo "Adding Hashicorp GPG key..."
  wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
  sudo chmod 644 /usr/share/keyrings/hashicorp-archive-keyring.gpg
else
  sudo chmod 644 /usr/share/keyrings/hashicorp-archive-keyring.gpg
fi

# add hashicorp repo
if ! [[ -f /etc/apt/sources.list.d/hashicorp.list ]]; then
  echo "Adding Hashicorp repo..."
  echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
  sudo chmod 644 /etc/apt/sources.list.d/hashicorp.list
fi

echo "Updating apt cache..."
sudo apt update >/dev/null

# list of apt packages to install
APT_PACKAGES=(
  "virt-what"
  "jq"
  "glances"
  "git"
  "wget"
  "unzip"
  "tmux"
  "python3"
  "python3-pip"
  "python-is-python3"
  "python3-virtualenv"
  "tree"
  "acl"
  "apt-transport-https"
  "ca-certificates"
  "lsb-release"
  "vault"
  "curl"
  "gh"
  "duf"
  "shellcheck"
  "build-essential"
  "eza"
)

# loop over apt packages and install them
for APT_PACKAGE in "${APT_PACKAGES[@]}"; do
  if ! dpkg -s $APT_PACKAGE &>/dev/null; then
    echo "Installing apt package $APT_PACKAGE..."
    sudo apt-get install -y $APT_PACKAGE
  fi
done

# sudo apt update

# make sure the ~/.font dir exists
if ! [[ -d ${HOME}/.fonts ]]; then
  mkdir ${HOME}/.fonts
fi

# check if source-code-pro font is already installed
if ! [[ -f ${HOME}/.fonts/SourceCodePro-Medium.otf ]]; then
  echo "Installing Source Code Pro font..."
  wget https://github.com/adobe-fonts/source-code-pro/releases/download/2.038R-ro%2F1.058R-it%2F1.018R-VAR/OTF-source-code-pro-2.038R-ro-1.058R-it.zip
  unzip -o -d ${HOME}/.fonts ${HOME}/OTF-source-code-pro*.zip SourceCodePro-Medium.otf
  rm ${HOME}/OTF-source-code-pro*.zip
fi

# check if sauce-code-pro font is already installed
if ! [[ -f ${HOME}/.fonts/SauceCodeProNerdFontMono-Regular.ttf ]]; then
  echo "Installing Sauce Code Pro font..."
  wget https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/SourceCodePro.zip
  unzip -o -d ${HOME}/.fonts ${HOME}/SourceCodePro.zip SauceCodeProNerdFontMono-Regular.ttf
  rm ${HOME}/SourceCodePro.zip
fi

# install latest fzf binary from github release
if ! [[ -f /usr/local/bin/fzf ]]; then
  echo "Installing fzf..."
  if [[ -x /usr/bin/fzf ]]; then
    echo "Uninstalling system fzf..."
    sudo apt remove -y fzf
  fi
  FZF_VERSION=$(curl -s https://api.github.com/repos/junegunn/fzf/releases/latest | grep -oP '"tag_name": "\K(.*)(?=")')
  FZF_FILENAME="fzf-${FZF_VERSION//v/}-linux_${ARCH}.tar.gz"
  FZF_DOWNLOAD_URL="https://github.com/junegunn/fzf/releases/download/${FZF_VERSION}/${FZF_FILENAME}"
  echo "Downloading fzf version ${FZF_DOWNLOAD_URL}..."
  wget ${FZF_DOWNLOAD_URL}
  tar xzf ${FZF_FILENAME}
  sudo mv fzf /usr/local/bin/fzf
  rm ${FZF_FILENAME}
fi

# check for powerline-go
if ! [[ -f /usr/local/bin/powerline-go ]]; then
  echo "Installing powerline-go..."
  POWERLINE_GO_URL=$(wget -q -O - 'https://api.github.com/repos/justjanne/powerline-go/releases/latest' | jq -r ".assets[] | select(.name==\"powerline-go-linux-$ARCH\").browser_download_url")
  wget -O "${TMPDIR}/powerline-go" "$POWERLINE_GO_URL"
  chmod +x "${TMPDIR}/powerline-go"
  sudo mv "${TMPDIR}/powerline-go" /usr/local/bin/
fi

# install fastfetch
if ! [[ -f /usr/bin/fastfetch ]]; then
  echo "Installing fastfetch..."
  FASTFETCH_URL=$(wget -q -O - 'https://api.github.com/repos/fastfetch-cli/fastfetch/releases/latest' | jq -r ".assets[] | select(.name | contains(\"$ARCH_LONG.deb\")).browser_download_url")
  wget -O "${TMPDIR}/fastfetch-linux-$ARCH_LONG.deb" "$FASTFETCH_URL"
  sudo dpkg -i "${TMPDIR}/fastfetch-linux-$ARCH_LONG.deb"
  rm "${TMPDIR}/fastfetch-linux-$ARCH_LONG.deb"
  if sudo lshw -class system -json | jq .[].product | grep -q "Apple Virtualization Generic Platform"; then
    echo "fastfetch > ~/.ssh/rc"
  fi
fi

{{ end }}
{{ end }}

exit 0
