#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'
shopt -s nullglob nocaseglob

# use chezmoi template to populate the MACHINE variable
{{- $MACHINE := .machineconfig }}

echo "machineconfig from chezmoi data is $MACHINE"

exit 0

# clone the repo from ghithib.com using the gh command line tool
if [[ $MACHINE == "personal" ]]; then
  echo "cloning personal machine-cfg repo..."
  if [ -d ~/code/machine-cfg ]; then
    echo "machine-cfg repo already exists"
    cd ~/code/machine-cfg
    git pull
  else
    git clone https://github.com/trodemaster/machine-cfg.git ~/code/machine-cfg
  fi
elif [[ $MACHINE == "work" ]]; then
  echo "cloning work machine-cfg repo..."
  gh auth login https://github.com/adobe/blake-machine-cfg ~/code/machine-cfg
#  git clone
fi

exit 0
