<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/local/bin:/files/go/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.koekeishiya.skhd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/skhd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/blake/Library/Logs/skhd.log</string>
	<key>StandardOutPath</key>
	<string>/Users/blake/Library/Logs/skhd.log</string>
</dict>
</plist>
